[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
androguard = "*"
click = "*"
c2hunt = { path = ".", editable = true }
prettytable = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
